*{
    padding: 0;
    margin: 0;
    font-family: Azeret Mono, monospace;
}
body{
    font-family: "Azeret Mono", monospace;
}

main {
    padding: 53px;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
nev

/* nav styles */
.nav-container{
    padding: 1rem;
   
}
.nav-container a{
    text-decoration: none;
}

.nav-container ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
    align-items: center;    
    
}
/* Awlad.H */
    .nav-container .title-name{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    /* layout */
    /* position: absolute; */
    width: 114px;
    height: 34px;
    left: 150px;
    top: 50px;
    }

/* Download-Button */
    .nav-container .download-resume{
    top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    stroke:1px Inside #0D1321;
    cursor: pointer;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    }

/* Hero section */
    #hero{
        /* Hero-bg */
    background-image: url("/assets/Hero-bg.png");
    height: 652px;
    left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px;
    }
/* hero -div */
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.hero-container .vactor{
    padding-top: 26px;
}
    .hero-container .hero-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;

    }
.hero-container .hero-subtile{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.contect-button{
/* position: static; */
height: 66px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
border-radius: 8px;
background: rgb(13, 19, 33);

color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.contect-button a {
    color: white;
    text-decoration: none;
}

/* Main Container -Why web Devolopment */

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    }
  
.main-content{
margin: 0px 10px; 
}
.title-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
}
.m-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.disc{
    text-align: center;
    margin-top: 63px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.content-1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.container-1 {
    padding:48px
}
.container-1-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;

}
.container-1-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}
.learn-more-btn{
    width: 199px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    margin: 32px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    cursor: pointer;

}
 .img-size{
    width: 364px;
    height: 319px; 
}
/* My inspiration */
.my-inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vedio-container{
    width: 1076px; 
    height: 550px; 
    border-radius: 16px ;
    text-align: center; 
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

/* Card- Section */
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 31px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.card-disc{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}
.learn-style{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.card-content{
    padding: 40px;
}
.card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}
.red-bg{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.blue-bg{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.yellow-bg{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
 /* footer-section */
.footer-container{
   
    padding: 150px;
    align-items: center;

  
}


.footer-child {
    background-image: url("/assets/handshake.png");
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    background-position: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2)
        rgba(0, 0, 0, 0.2)
        rgba(0, 0, 0, 0.2)
            );
        
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-heading {
  margin-left: 157px;
  margin-right: 157px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
    padding-top: 24px;
}
.footer-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

}
.footer-subtitle{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}
.searchbox-style{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    opacity: 0.7;


color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.submit-btn{
    width: 120px;
    height: 58px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.footer-link{
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.cradit{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}