
*{
    
    padding: 0;
    margin: 0;
    font-family: Azeret Mono, monospace;
    
}

body{
    font-family: "Azeret Mono", monospace;
}

main {
    padding: 53px;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* nav styles */
.nav-container{
    display: relative;
   
}
.nav-container a{
    text-decoration: none;
}

.nav-container ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
    
}
/* Awlad.H */
.nav-container .title-name{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
/* layout */
position: absolute;
width: 114px;
height: 34px;
left: 150px;
top: 50px;
}

/* Download-Button */
.nav-container .download-resume{
position: absolute;
top: 38px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
stroke:1px Inside #0D1321;
cursor: pointer;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

/* Hero section */
#hero{
        /* Hero-bg */
    background-image: url("/assets/Hero-bg.png");
   
position: absolute;
height: 652px;
left: 0;
right: 0;
top: 131px;
bottom: 4462px;
}
/* hero -div */
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}


.hero-container .vactor{
    padding-top: 26px;
    
}
.hero-container .hero-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;

}
.hero-container .hero-subtile{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.hero-container .contect-button{
position: static;
height: 66px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
border-radius: 8px;
background: rgb(13, 19, 33);

color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

/* Main Container -Why web Devolopment */

    .main-container{
position: absolute;
height: 1395px;
left: 148px;
right: 152px;
top: 857px;
bottom: 2993px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 80px 97px 80px 97px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}
  
.main-content{
        /* Frame 12 */
position: static;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;

padding: 0px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.title-container{
    /* Frame 5 */
position: static;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 48px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
}
.m-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 42px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.disc{
text-align: center;
 margin-top: 63px;
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 21px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

.content-1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.container-1 {
    padding:48px
}
.container-1-title{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 31px;
font-weight: 700;
line-height: 45px;
text-align: left;

}
.container-1-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}
.learn-more-btn{
    /* Frame 7 */
position: static;
width: 199px;
height: 63px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}
 .img-size{
width: 364px;
height: 319px; 
}